.content {
    font-size: 15px;
    color: #454545;
    font-weight: bold;
    text-align: center;
}

.rsscontainerHorizontal {
    overflow: hidden;
    width: 1000000px;
}

.rsscontainerHorizontal img {
    margin-left: 10px;
    margin-right: 10px;
}

.rsscontainerHorizontal div {
    float: left;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.rsscontainerHorizontal div h1, .rsscontainerHorizontal div div, .rsscontainerHorizontal div span {
    float: left;
    height: 100%;
}

.rsscontainerHorizontal div {

}

.rsscontainer > div {
    margin-top: 0;
    padding-bottom: 30;
}
