<script src="/widgets/resources?resource=newsboard/rssshow/jquery.mustache.js"></script>

<div class="rsscontainer">

</div>

<script id="template-vertical" type="x-tmpl-mustache">
<div class="content">
<h1>{{title}}</h1>
{{#imageUrl}}
<div><img src="{{imageUrl}}" /></div>
{{/imageUrl}}
<span>{{text}}</span>
</div>


</script>
<script id="template-horizontal" type="x-tmpl-mustache">
<div class="content">
{{#imageUrl}}
<div><img src="{{imageUrl}}" /></div>
{{/imageUrl}}
<h1>{{title}}</h1>
<span>{{text}}</span>
</div>


</script>